<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receptai</title>
    <link href='//fonts.googleapis.com/css?family=Federo' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>
    <a id="headingas">
        DAKTARO IVANAUSKO VALGYKLA
    </a>
</h1>

<br>
<br>
<div id="wrapper">
    <div id="postas1">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbonappetitmag%2Fvideos%2F10158489812195367%2F&width=500&show_text=false&height=500&appId" width="400" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
        </iframe>
    </div>
    <div id="postas2">
        <div id="tekstas1">
        <a id="name1">Sveikuoliškas tortas „Moka“</a>
        <p>Tai dar vienas unikalus
            torto receptas,
            kurį drąsiai galima priskirti receptų
            „valgau desertus be sąžinės graužaties“
            kolekcijai. Jį pagaminsite be miltų ir cukraus.
            Be to, jo nereikės kepti.</p>
        <p>Maisto smulkintuvu sumalkite migdolus ir saulėgrąžas,
            tik ne iki vientisos masės. Sumaišykite su datuliu
            pasta ir kokosų aliejumi. Išklokite skardelę taip,
            kad išeitų pagrindas pyragui, maždaug 1–1,5 cm storio.
            Pagaminkite įdarą. Elektriniu trintuvu sumalkite
            anakardžius su vandeniu.
            Įpilkite vandens, tiek,
            kad juos apsemtų. Suplakite iki vientisos masės. I
            štirpinkite kokosų aliejų. Tuomet sudėti likusius
            ingredientus ir dar kartą sutrinkite. Gautą vienal
            ytę masę supilkite ant pyrago pagrindo ir palikite
            šaldiklyje 2–3 val. Prieš patiekiant galima apibarst
            yti kakavos milteliais, papuošti mėtų lapeliais, džiovintomis uogomis.</p>
        <p>
            <a href="http://www.delfi.lt/maistas/sveika/nepatikesite-kad-tai-imanoma-sveikuoliskas-tortas-moka.d?id=74374450" target="_blank">Skaityti daugiau </a>
        </p>
        </div>
        <a id="button">Show More</a>
    </div>
    <div id="postas3">
    </div>
</div>


<form action="/form.php" method="post">

    Žinai, kaip praturtinti Ivanausko valgyklos blogą? Duokš idėjas!<br><br>
    Tavo vardas<br>
    <input type="text" name="name"><br>
    Tavo pavardė<br>
    <input type="text" name="surname"><br>
    El. paštas<br>
    <input type="text" name="email"><br>
    Idėja<br>
    <input type="text" name="text"><br>
    Nuoroda<br>
    <input type="text" name="link"><br><br>

    <input type="submit" value="Priduoti">
</form>




<br>
<br>
<iframe src="http://www.beatosvirtuve.lt/" height="400" width="800">
</iframe>


<a id="video" href="https://www.facebook.com/bonappetitmag/videos/10158489812195367/" target="_blank">Čia kreivas tekstas</a>
<br>
<a href="http://delfi.lt" id="link1">Link1</a>
<a href="http://delfi.lt">Link2</a>
<a href="http://delfi.lt">Link3</a>
<a href="http://delfi.lt">Link4</a>
<a href="http://delfi.lt">Link5</a>
<a href="http://delfi.lt">Link6</a>

    <script src="static/test.js"></script>
</body>
</html>
