<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <title>Receptai</title>
    <link href='//fonts.googleapis.com/css?family=Federo' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>
    <a id="headingas">
        PROFESORIAUS IVANAUSKO VALGYKLA
    </a>
</h1>

<div id="morka" class="ui-widget-content">
    <div class="zalia"></div>
    <div class="morkine"></div>
</div>

<div id="zuikis" class="ui-widget-header">
    <div id="ausis"></div>
    <div id="galva"></div>
    <div id="akis"></div>
    <div id="usai">><</div>
    <div id="kunas"></div>
    <div id="priekineletenele"></div>
    <div id="uodega"></div>
    <div id="uzpakalineletenele"></div>
</div>

<br>
<br>
<div id="wrapper">
    <div id="postas1">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbonappetitmag%2Fvideos%2F10158489812195367%2F&width=500&show_text=false&height=500&appId"
                width="400" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true">
        </iframe>
    </div>
    <div id="postas2">
        <div id="tekstas1">
            <a id="name1">Sveikuoliškas tortas „Moka“</a>
            <p>Tai dar vienas unikalus
                torto receptas,
                kurį drąsiai galima priskirti receptų
                „valgau desertus be sąžinės graužaties“
                kolekcijai. Jį pagaminsite be miltų ir cukraus.
                Be to, jo nereikės kepti.</p>
            <p>Maisto smulkintuvu sumalkite migdolus ir saulėgrąžas,
                tik ne iki vientisos masės. Sumaišykite su datuliu
                pasta ir kokosų aliejumi. Išklokite skardelę taip,
                kad išeitų pagrindas pyragui, maždaug 1–1,5 cm storio.
                Pagaminkite įdarą. Elektriniu trintuvu sumalkite
                anakardžius su vandeniu.
                Įpilkite vandens, tiek,
                kad juos apsemtų. Suplakite iki vientisos masės. I
                štirpinkite kokosų aliejų. Tuomet sudėti likusius
                ingredientus ir dar kartą sutrinkite. Gautą vienal
                ytę masę supilkite ant pyrago pagrindo ir palikite
                šaldiklyje 2–3 val. Prieš patiekiant galima apibarst
                yti kakavos milteliais, papuošti mėtų lapeliais, džiovintomis uogomis.</p>
            <p>
                <a href="http://www.delfi.lt/maistas/sveika/nepatikesite-kad-tai-imanoma-sveikuoliskas-tortas-moka.d?id=74374450"
                   target="_blank">Skaityti daugiau </a>
            </p>
        </div>
        <a id="button">Show More</a>
    </div>
    <div id="postas3">
    </div>
</div>


<form action="/form.php" method="post">
    Žinai, kaip praturtinti Ivanausko valgyklos blogą? Duokš idėjas!<br><br>
    Tavo vardas<br>

    <input type="text" name="name"><br>
    Tavo pavardė<br>
    <input type="text" name="surname"><br>
    El. paštas<br>
    <input type="text" name="email"><br>
    Idėja<br>
    <input type="text" name="text"><br>
    Nuoroda<br>
    <input type="text" name="link"><br><br>

    <input type="submit" value="Priduoti">
</form>

<br>
<br>

<!--    
 <div id="resizable" class="ui-widget-content">
    </div>

<br>
<br>    
    <iframe  src="http://www.beatosvirtuve.lt/" height="400px" width="400px"></iframe>
    
-->

<a href="http://delfi.lt" id="link1">Link1</a>
<a href="http://delfi.lt">Link2</a>
<a href="http://delfi.lt">Link3</a>
<a href="http://delfi.lt">Link4</a>
<a href="http://delfi.lt">Link5</a>
<a href="http://delfi.lt">Link6</a>

<script type="text/javascript" src="static/jquery-3.2.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="static/test.js"></script>
</body>
</html>
